.App {
  text-align: center;
}



.wrapper {
  padding: 5px 20px;
  text-align: center;
  display: block;
}

.wrapper fieldset {
  margin: 20px 0;


}

form{
  overflow: hidden;
  box-shadow: 0 2px 20px #51248b;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 1opx;
  font-size: small;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
@media screen and (max-width: 992px){
  .wrapper{
    max-height: 100%;
    max-width: auto;
  }
}

